* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.admin_container {
  margin-left: auto;
  margin-right: auto;
  height: 800px;
}

.admin_menu {
  float: left;
  width: 15%;
  height: 100%;
  background-color: #ffffff;
}
.admin_dashboard {
  float: right;
  height: 100%;
  width: 85%;
  background-color: #fafbfd;
}
.mainblock {
  height: 90%;
  margin: 0% 2% 5% 2%;
  background-color: #ffffff;
}
.user_frame {
  width: 90%;
  height: 10%;
  display: block;
  margin: 0 auto;
  border-bottom-color: rgb(245, 245, 245);
  border-width: 0.5px;
  border-bottom-style: inset;
  margin-bottom: 10%;
}
.user_info {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.login {
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.role {
  font-size: 12px;
  font-weight: bolder;
  display: block;
}
.main_menu {
  margin-top: 5%;
  width: 90%;
  height: 90%;
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.menu {
  height: 90%;
  margin-top: 5%;
  margin: 0 auto;
}
.menu__item {
  height: 8%;
  width: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 4%;
  text-align: left;
}

.menu__item a {
  color: #8d8498;
  font-size: 14px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
}
.menu__item a:hover {
  color: #575962;
  font-size: 14px;
  display: flex;
  width: 100%;
  background: rgba(199, 199, 199, 0.2);
  box-sizing: border-box;
}
.dash__header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 2%;
  padding-left: 2%;
}
.headerM {
  padding-left: 3%;
  color: #444444;
  font-size: 23px;
  flex: 2;
}

.input_loginfield {
  flex: 10;
  display: flex;
  align-items: center;
}

.loginfield {
  width: 40%;
  margin-right: 7%;
}
.dateInput {
  margin-left: 1%;
  margin-right: 1%;
  width: 10%;
  font-size: 12px;
}
.input_datefield input {
  width: 25%;
  font-size: 12px;
}

.btn {
  padding: 0.2rem 0.4rem;
  font-size: 14px;
  opacity: 1;
  border-radius: 3px;
  border: none;
  background-color: rgb(57, 104, 206);
  cursor: pointer;
  color: #ffffff;
}
.btn:hover {
  background-color: rgb(28, 51, 102);
}

/*______________________________________*/

.user_table {
  border-collapse: collapse;
  font-size: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.user_table thead tr {
  background-color: #404145;
  color: #ffffff;
  text-align: left;
}

.user_table th,
.user_table td,
.user_table a {
  padding: 0.3% 0.5%;
  font-size: 12px;
}

.user_table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.user_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.user_table tbody tr:last-of-type {
  border-bottom: 2px solid #404145;
}

.user_table tbody tr.active-row {
  font-weight: bold;
  color: #404145;
}
.user_upd_btn {
  color: rgb(57, 104, 206);
  cursor: pointer;
}
.user_upd_btn:hover {
  color: rgb(28, 51, 102);
  cursor: pointer;
}


/*____________search_____________________*/

.dash__header__search {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
}
.report_name{
flex:2;
}
.searchPart_form{
flex:10;
width:60%;
}
.admin_search_part{
  width: 52%;
}

.client_block{
  display: flex;

}
.client_block_info{
  flex:5;
  padding: 2%;
}
.client_table_info{
  width: 100%;
}
.client_table_info td{
  font-size: 14px;
  text-align: right;
}
.td_client{
  text-align: left !important;
  padding-left: 4%;
  color:blue;
  font-weight: 600;
}

.searchLogin_form{
  flex:6;
  align-self: center;
}
.searchLogin_form form{
  align-items: center;

}
.admin_search_client{
  width: 40%;
}
.client_info span{
  font-size: 10px;
}




.search_list {

}

.search_table {
  border-collapse: collapse;
  font-size: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.search_table thead tr {
  background-color: #404145;
  color: #ffffff;
  text-align: left;
}

.search_table th,
.search_table td,
.search_table a {
  padding: 0.3% 0.5%;
  font-size: 12px;
}

.search_table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.search_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.search_table tbody tr:last-of-type {
  border-bottom: 2px solid #404145;
}

.search_table tbody tr.active-row {
  font-weight: bold;
  color: #404145;
}
.input_cart {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
.th_price input{
  color:black;
}
.input_field_price{
  width: 25%;
  font-size: 12px;
  text-align: center;

}
.input_field {
  width: 14%;
  text-align: center;
  font-size: 12px;
}
.input_cart a {
  color: red;
}

/*__________Загрузка файлов___*/


.form_price_loading input{
margin:1%;
}
